.title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.information{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
