.title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.information{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.action-yosan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.action-yosan button {
  margin: 0px 20px;
}

.modal-action{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.alert{
  font-size: 12px;
}